<nav>
    <ul class="main-name">
        <a href="/">Daily Dairy</a>
    </ul>
    <ul class="nav-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>