<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <divc class="wrapper">
        <%- include("./partials/nav.ejs") %>  

        <div class="about">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem nulla laborum sed consectetur non quo velit quod repellat beatae optio omnis, praesentium adipisci illum reprehenderit minima exercitationem. Esse,
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem nulla laborum sed consectetur non quo velit quod repellat beatae optio omnis, praesentium adipisci illum reprehenderit minima exercitationem. Esse,</p>
            <div class="git">
                <p>See this project on <span>github</span></p>
                <a href="https://github.com/Fay4z/daily-dairy"><img src="/github.png" alt="gilthub"></a>
            </div>
        </div>
            
    </div>

    <%- include("./partials/footer.ejs") %>    

</body>
</html>